secrets.nix filter=git-crypt diff=git-crypt
wifi-secrets.nix filter=git-crypt diff=git-crypt
go-neb-token.nix filter=git-crypt diff=git-crypt
*.sec filter=git-crypt diff=git-crypt
wireguard/** filter=git-crypt diff=git-crypt
cache-keys/** filter=git-crypt diff=git-crypt
config-backup.tar.gz filter=git-crypt diff=git-crypt
